.ficha {
    width: 70%;
    margin-left: 15%;
    padding: 5px 10px;
}


body{
    background-image:url("../img/faa31cac4aed6ba7cbc93bebd46958e1-medieval-dragons-pattern-design.jpg");
}
.cor-fundo{
background-color:wheat;
color:black;


}

.cor-fundo-ficha{
background-color: black;

}

.letra-medieval{
    font-family: 'MedievalSharp', cursive;
    text-shadow:1px 1px black;
}

.center{

    text-align: center;
}

.left{
text-align:left;


}

.right{
text-align:right;

}

.vermelho{
color:tomato;

}

.azul{
color:royalblue;

}

.verde{
    color:green;
    
    }

.azul-escuro{
    color:navy;
    
    }

.bordinha{

    border:4px solid black;
    border-bottom:1px;
}

.bordinha-dois{

    border:4px solid black;
}

.cor-luta{
        color:brown;

}

.cor-movimento{

    color:snow;
    text-shadow:1px 1px black;
}

.cor-inteligencia{
color:teal;

}
.cor-sorte{

    color:goldenrod;
}

.cor-forca{

    color:hotpink;
}

.cor-destreza{

    color:darkviolet;
}

.cor-constituicao{

    color:dodgerblue;
}

.cor-perspicaz{

    color:chocolate;
}

.dado{

    text-align: center;
  
}

.dadinho{

    margin-top:10px;
}



.tabela{

    font-size:2vw;
}

#resultadodado{

background-color: brown;
color:white;
text-shadow:1px 1px black;
font-family: 'MedievalSharp', cursive;
border:4px solid white;

}