.playerPanel {
    padding: 5px 10px;
    margin: 4px;
}

.playerList {
    display: inline;
}

.adicionaveis {
    padding: 5px 10px;
}

.btn-add {
    margin-bottom: 6px;
    padding: 5px 10px;
}

li .lineItem {
    display: inline;
}

.btn-remove {
    margin-bottom: 6px;
    padding: 0px 8px;
}